<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Crypto数字游民-VIP视频免费看</title>
		<meta name="keywords" content="VIP视频,VIP影院,VIP视频免费看,VIP视频抢先看">
		<meta name="description" content="Crypto数字游民VIP影院-看VIP视频，就来找我">
		<meta name="author" content="Crypto数字游民">
		<meta name="referrer" content="no-referrer">
		<link rel="shortcut icon" href="/www/favicon.ico">
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/www/css/base.css">{{{block ("head")}}}
	</head>
	<body>{{{include ("./header")}}} {{{block ("body")}}} {{{include ("./footer")}}}<script src="/www/js/xframe-min-1.0.js"></script>
		<script src="/www/js/base.js"></script>{{{block ("foot")}}}
	</body>
</html>
